@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes pulse-custom {
    0%, 100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  @keyframes expand {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
    }
  }

  .animate-pulse-custom {
    animation: pulse-custom 2s infinite ease-in-out;
  }

  .animate-expand {
    animation: expand 3s infinite ease-in-out;
  }
}
